<div class="page-container flex-column">
  <div class="page-header">
    <div class="row-block cols4">
      <label class="label">工序名称：</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.processName" />
    </div>

    <div class="row-block cols4">
      <label class="label">工序编号：</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.processNumber" />
    </div>

    <div class="row-block cols4">
      <label class="label">状态：</label>
      <select required [(ngModel)]="searchFormGroup.value.enabled">
        <option *ngFor="let item of orderSelect" [value]="item.value">
          {{item.label}}
        </option>
      </select>
    </div>
    <div class="row-block cols4">
      <button class="search-btn btn" (click)="searchList()">
        <mat-icon class="material-icons svgIcon">search</mat-icon>
        <span>查询</span>
      </button>
      <button class="search-btn btn" (click)="resetSearch()">
        重置
      </button>
    </div>

  </div>
  <div class="page-header">
    <button *ngIf="set.has('/technological/processManage/add')" class="search-btn btn" (click)="showAddVisibilly({})">
      <mat-icon class="material-icons svgIcon">control_point</mat-icon>
      <span>新增工序</span>
    </button>


  </div>

  <div class="page-content">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="no" sticky="true">
        <th mat-header-cell *matHeaderCellDef> 序号</th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>


      <ng-container matColumnDef="processName">
        <th mat-header-cell *matHeaderCellDef> 工序名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.processName}} </td>
      </ng-container>


      <ng-container matColumnDef="processNumber">
        <th mat-header-cell *matHeaderCellDef> 工序编号 </th>
        <td mat-cell *matCellDef="let element"> {{element.processNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="reportType">
        <th mat-header-cell *matHeaderCellDef> 报工类型 </th>
        <td mat-cell *matCellDef="let element"> {{getReportTypeLabel(element.reportType)}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="erpProcessNumber">
        <th mat-header-cell *matHeaderCellDef> ERP工序标识 </th>
        <td mat-cell *matCellDef="let element"> {{element.erpProcessNumber?handleHash(element.erpProcessNumber):'未绑定'}}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="processDetail">
        <th mat-header-cell *matHeaderCellDef> 工艺说明 </th>
        <td mat-cell *matCellDef="let element"> {{element.processDetail}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="bySetImport">
        <th mat-header-cell *matHeaderCellDef>投入设置属性 </th>
        <td mat-cell *matCellDef="let element">
          <span class="s-enable" *ngIf="element.bySetImport == 1">启用</span>
          <span class="s-disabled" *ngIf="element.bySetImport == 0">禁用</span>
        </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="bySetExport">
        <th mat-header-cell *matHeaderCellDef>投入产出控制 </th>
        <td mat-cell *matCellDef="let element">
          <span class="s-enable" *ngIf="element.bySetExport == 1">启用</span>
          <span class="s-disabled" *ngIf="element.bySetExport == 0">禁用</span>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> 状态 </th>
        <td mat-cell *matCellDef="let element">
          <span class="s-enable" *ngIf="element.enabled === 1">启用</span>
          <span class="s-disabled" *ngIf="element.enabled === 0">禁用</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="set.has('/technological/processManage/edit')" class="mini_btn edit_btn"
            (click)="handleEvent(element,'edit')">编辑</button>
          <button class="mini_btn look_btn" (click)="handleEvent(element,'details')">详情</button>
          <button *ngIf="element.enabled === 0 && set.has('/technological/processManage/del')" class="mini_btn del_btn"
            (click)="handleEvent(element,'del')">删除</button>
          <button *ngIf="element.enabled === 0 && set.has('/technological/processManage/enable')"
            class="mini_btn enter_btn" (click)="handleEvent(element,'enable')">启用</button>
          <button *ngIf="element.enabled === 1 && set.has('/technological/processManage/disable')"
            class="mini_btn disable_btn" (click)="handleEvent(element,'disable')">禁用</button>
          <button *ngIf="set.has('/technological/processManage/set')" class="mini_btn set_btn"
            (click)="showProcessSetting(element)">工序设置</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="page-footer">
    <mat-paginator [length]="total" [pageSize]="searchFormGroup.value.size" [pageSizeOptions]="pageSizeOptions"
      aria-label="选择要跳转的页面" (page)="getNotices($event)">
    </mat-paginator>
  </div>
</div>
