<div class="role_container">

    <div class="search_form">
        <div class="search_item">
            <div class="label">角色名称:</div>
            <input type="text" [(ngModel)]="searchFormGroup.value.roleName">
        </div>
        <div class="search_item">
            <div class="label">角色编码:</div>
            <input type="text" [(ngModel)]="searchFormGroup.value.roleCode">
        </div>
        <div class="search_item">
            <div class="label">状态:</div>
            <select required [(ngModel)]="searchFormGroup.value.enabled">
                <option value="">全部</option>
                <option value="0">启用</option>
                <option value="1">禁用</option>
            </select>
        </div>
        <button class="search_btn" (click)="getTableData()" style="margin-right: 10px;">
            <mat-icon>search</mat-icon> 查询
        </button>
        <button class="search_btn" (click)="reset()">
            <mat-icon>clear</mat-icon> 重置
        </button>
    </div>

    <div class="info_container">
        <div class="info_title">
            <div class="btn_list">
                <button *ngIf="set.has('/role/add')" class="add_btn btn_color_primary" (click)="showAddVisibilly()">
                    <mat-icon>add</mat-icon> 新增角色
                </button>
            </div>
            <div class="info_tip">总共<span class="text_color_primary">{{total}}</span>个角色</div>
        </div>

        <div class="table_container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="roleId">
                    <th mat-header-cell *matHeaderCellDef> 序号 </th>
                    <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="roleName">
                    <th mat-header-cell *matHeaderCellDef> 角色名称 </th>
                    <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="roleCode">
                    <th mat-header-cell *matHeaderCellDef> 角色编码 </th>
                    <td mat-cell *matCellDef="let element"> {{element.roleCode}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="roleExplain">
                    <th mat-header-cell *matHeaderCellDef> 角色说明 </th>
                    <td mat-cell *matCellDef="let element"> {{element.roleExplain}} </td>
                </ng-container>

                <ng-container matColumnDef="createTime">
                    <th mat-header-cell *matHeaderCellDef> 创建日期 </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdTime?element.createdTime:"--"}} </td>
                </ng-container>

                <ng-container matColumnDef="createdName">
                    <th mat-header-cell *matHeaderCellDef> 创建人 </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdName}} </td>
                </ng-container>

                <ng-container matColumnDef="enabled">
                    <th mat-header-cell *matHeaderCellDef> 状态 </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="{'enabled':element.enabled == 0,'disabled':element.enabled == 1}"> {{element.enabled
                        == 0?"启用":"禁用"}} </td>

                </ng-container>

                <ng-container matColumnDef="customColumn1">
                    <th mat-header-cell *matHeaderCellDef> 操作 </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="set.has('/role/edit')" class="mini_btn edit_btn"
                            (click)="lookRole(element,0)">编辑</button>
                        <button *ngIf="element.enabled == 1 && set.has('/role/enable')" class="mini_btn enter_btn"
                            (click)="enterDia(element,0)">启用</button>
                        <button *ngIf="element.enabled == 0 && set.has('/role/disable')" class="mini_btn disable_btn"
                            (click)="enterDia(element,1)">禁用</button>

                        <button class="mini_btn look_btn" (click)="lookRole(element,1)">查看</button>

                        <button class="mini_btn del_btn" (click)="delDia(element)"
                            *ngIf="element.enabled == 1 && set.has('/role/delete')">删除</button>

                        <button *ngIf="set.has('/role/menu')" class="page_btn"
                            (click)="showMenuDia(element)">菜单配置</button>
                        <!-- <button *ngIf="set.has('/role/data')" class="page_btn"
                            (click)="showDataPageDia(element)">数据权限</button> -->
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="footer">
        <mat-paginator [length]="total" [pageSize]="searchFormGroup.value.size" [pageSizeOptions]="pageSizeOptions"
            aria-label="选择要跳转的页面" (page)="getNotices($event)">
        </mat-paginator>
    </div>
</div>
