.search-btn {
	margin-right: 8px;
}

.table-info {
	padding: 12px 0;
	font-size: 12px;
	.total {
		color: #0066ff;
		font-weight: 700;
		font-size: 14px;
		margin: 0 4px;
	}
	.yield {
		color: #ff9900;
		font-weight: 700;
		font-size: 14px;
		margin: 0 4px;
	}
}
.page-content {
	.mat-table {
		.mat-row {
      .mat-cell {
        width: 10%;
      }
      .mat-cell:first-child {
        width: 5%;
      }
			.mat-cell:last-child {
				width: 17%;
			}
		}
	}
}
.tags {
	display: flex;
  margin-bottom: 10px;
	.tag {
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
		margin-right: 10px;
		cursor: pointer;
		&.active {
			color: #fff;
			background-color: #3399ff;
		}
	}
}
.search_btn {
	color: #fff;
	background-color: #3399ff;
  display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 36px;
	border: 1px solid #3399ff;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 10px;
}

.row-block {
	select {
		border: 1px solid #999;
		width: 160px;
		height: 36px;
		outline: none;
	}
	option {
		width: 160px;
		height: 36px;
	}
	input {
		outline: none;
	}
}


.disabled {
	color: rgba(255, 51, 0, 1);
}
.enabled {
	color: rgba(102, 204, 0, 1);
}

.link {
  color: #0066ff;
  cursor: pointer;
}
