<div class="page-container flex-column">
  <div class="page-header">

    <div class="row-block cols4">
      <label class="label">检查项目</label>
      <input class="input" [(ngModel)]="searchData.inspectionItem" />
    </div>
    <div class="row-block cols4">
      <label class="label">关键工序</label>
      <input class="input" [(ngModel)]="searchData.keyProcessName" />
    </div>
    <div class="row-block cols4">
      <label class="label">产品名称</label>
      <input class="input" [(ngModel)]="searchData.productName" />
    </div>
    <div class="row-block cols4">
      <label class="label"></label>
      <div class="btn-group">
        <button class="search_btn" (click)="searchList()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>查询
        </button>
        <button class="search_btn" (click)="resetQuery()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>重置
        </button>
      </div>
    </div>
    <div class="row-block cols4">
      <label class="label"></label>
      <div class="btn-group">
        <button class="search_btn" *ngIf="set.has('/quality/cate/add')" (click)="showAddVisibilly({})">
          <mat-icon class="material-icons svgIcon">add</mat-icon>新增
        </button>
      </div>
    </div>
  </div>
  <div class="page-content">
    <table mat-table [dataSource]="dataSource" class="table-warp" matSort matSortActive="inspectionItem" (matSortChange)="resetPaging()">
      <ng-container matColumnDef="no" sticky="true">
        <th mat-header-cell *matHeaderCellDef> 序号 </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>
      <ng-container matColumnDef="inspectionItem">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 检查项目</th>
        <td mat-cell *matCellDef="let element"> {{element.inspectionItem}} </td>
      </ng-container>
      <ng-container matColumnDef="keyProcess">
        <th mat-header-cell *matHeaderCellDef> 关键工序 </th>
        <td mat-cell *matCellDef="let element"> {{getProcess(element.keyProcess)}} </td>
      </ng-container>
      <ng-container matColumnDef="monitoringMethod">
        <th mat-header-cell *matHeaderCellDef> 监控方法 </th>
        <td mat-cell *matCellDef="let element"> {{getMethod(element.monitoringMethod)}} </td>
      </ng-container>
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> 产品名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef> 备注 </th>
        <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
      </ng-container>
      <ng-container matColumnDef="isEnabled">
        <th mat-header-cell *matHeaderCellDef> 状态 </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'enabled':element.isEnabled == 1,'disabled':element.isEnabled == 0}"> {{getStatus(element.isEnabled)}} </td>
      </ng-container>
      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <button class="mini_btn edit_btn" *ngIf="set.has('/quality/cate/edit')"
            (click)="handleEvent(element,'edit')">编辑</button>
          <button class="mini_btn look_btn" (click)="handleEvent(element,'details')" *ngIf="set.has('/quality/cate/detail')">详情</button>
          <button *ngIf="element.isEnabled == 0 && set.has('/quality/cate/del')" class="mini_btn del_btn"
            (click)="handleEvent(element,'del')">删除</button>
          <button *ngIf="element.isEnabled == 0 && set.has('/quality/cate/enabled')"
            class="mini_btn enter_btn" (click)="handleEvent(element,'enable')">启用</button>
          <button *ngIf="element.isEnabled == 1 && set.has('/quality/cate/disable')"
            class="mini_btn disable_btn" (click)="handleEvent(element,'disable')">禁用</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="page-footer">
    <mat-paginator [length]="total" [pageSize]="searchData.size" [pageSizeOptions]="pageSizeOptions"
      aria-label="选择要跳转的页面" (page)="getNotices($event)">
    </mat-paginator>
  </div>
</div>
