.content{
    .row-block{
        width: 33.33%;
    }
}
.relative {
  position: relative;
  .absolute {
    position: absolute;
    top: 0;
    right: -21%;
    cursor: pointer;
    color: #1890ff;
  }
}
.btn {
  cursor: pointer;
  &-color {
    color: #1890ff;
  }
}
.setting-warp {
  max-height: unset !important;
}

.cate-content {
  max-height: 80vh;
  overflow-y: auto;
}
.content .row-block .textarea {
  line-height: 20px;
}
