<div class="title">
  {{modalTitle}}
  <span class="close_icon" (click)="addDialogClose()">X</span>
</div>
<div class="cate-content">
  <form [formGroup]="dataForm" class="content page-container two-col">
    <div class="row-block">
      <label class="label"><span class="red-star">*</span>频次：</label>
      <mat-form-field appearance="fill" class="select">
        <mat-select formControlName="frequency">
          <mat-option *ngFor="let item of frequencyList" [value]="item.codeValue">
            {{item.codeDsc}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataForm.hasError('required','frequency')">
          请选择<strong>频次</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-block">
      <label class="label"><span class="red-star">*</span>重点项目:</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input autocomplete="off" class="input" formControlName="importantItem" type="text" matInput
          placeholder="请输入重点项目">
        <mat-error *ngIf="dataForm.hasError('required','importantItem')">
          重点项目为<strong>必填</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row-block">
      <div class="label"><span class="red-star">*</span>状态:</div>
      <mat-form-field appearance="fill" class="select">
        <mat-select formControlName="enabled">
          <mat-option *ngFor="let item of status" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataForm.hasError('required','enabled')">
          请选择<strong>状态</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-block">
      <div class="label">备注:</div>
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput class="textarea" formControlName="remark" placeholder="请输入备注"></textarea>
      </mat-form-field>
    </div>

  </form>
  <div class="setting-warp">
    <div class="set-title">配置信息
      <button *ngIf="formType !== 'details'" class="add_btn btn_color_primary btn" (click)="addConfig()"
        style="margin-left: 10px;">
        <mat-icon>add</mat-icon> 新增
      </button>
      <button *ngIf="formType !== 'details' && configs.length" class="add_btn btn_color_primary btn" (click)="delConfig()"

        style="margin-left: 10px;">
        <mat-icon>delete</mat-icon> 删除
      </button>
    </div>
    <div class="setting-panl">
      <table class="table">
        <tr>
          <th>选择</th>
          <th>序号</th>
          <th>达成（异常）情况描述</th>
          <th>达成情况类型</th>
          <th>下拉框字段</th>
          <th>是否必填</th>
        </tr>
        <tr *ngFor="let item of configs; let i = index">
          <td>
            <div>
              <mat-checkbox [(ngModel)]="item.isChecked"
                [disabled]="formType === 'details'"></mat-checkbox>
            </div>
          </td>
          <td>
            <div>{{i + 1}}</div>
          </td>
          <td>
            <input style="width: 400px;" [disabled]="formType === 'details'" class="sortInput" autocomplete="off"
                [(ngModel)]="item.fieldName">
          </td>
          <td>
            <div>
              <select required [(ngModel)]="item.fieldType" [disabled]="formType === 'details'">
                <option *ngFor="let type of fieldTypes" [value]="type.codeValue">
                  {{type.codeDsc}}
                </option>
              </select>
            </div>
          </td>
          <td>
            <div>
              <input style="width: 200px;" [disabled]="formType === 'details'" class="sortInput" autocomplete="off"
                [(ngModel)]="item.dropdownFields">
            </div>
          </td>
          <td>
            <div>
              <select required [(ngModel)]="item.required" [disabled]="formType === 'details'">
                <option value="1">是</option>
                <option value="0">否</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="footer">
  <button *ngIf="formType !== 'details'" (click)="submit()" mat-raised-button color="primary" class="search-btn btn">
    <mat-icon class="material-icons svgIcon">done</mat-icon>
    <span>提交</span>
  </button>

  <button *ngIf="formType === 'details'" (click)="addDialogClose()" mat-raised-button color="primary"
    class="search-btn btn">
    <mat-icon class="material-icons svgIcon">done</mat-icon>
    <span>关闭</span>
  </button>
</div>
