.role_container {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	.search_form {
		width: 100%;
		height: 50px;
		background-color: #e0e0e0;
		display: flex;
		align-items: center;
		margin: 20px auto;
		.search_item {
			display: flex;
			padding: 0 20px;
			box-sizing: border-box;
			margin-right: 20px;
			.label {
				font-size: 14px;
				color: #000;
				margin-right: 5px;
			}
			input {
				border: 1px solid #999;
				outline: none;
				width: 160px;
			}
			select {
				border: 1px solid #999;
				width: 160px;
			}
			option {
				border: 1px solid #999;
				width: 160px;
			}
		}
		.search_btn {
			color: #fff;
			background-color: #3399ff;
			align-items: center;
			display: flex;
			justify-content: center;
			width: 80px;
			height: 36px;
			border: 1px solid #3399ff;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
		}
	}
	.info_container {
		width: 100%;
		height: 100%;
		overflow: auto;
		.info_title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			.btn_list {
				display: flex;
				.btn_color_primary {
					color: #fff;
					background-color: #3399ff;
					align-items: center;
					display: flex;
					justify-content: center;
					width: 120px;
					height: 36px;
					border: 1px solid #3399ff;
					border-radius: 4px;
					cursor: pointer;
					font-size: 16px;
				}
			}

			.info_tip {
				font-size: 16px;
				color: #999;
				.text_color_primary {
					color: #3399ff;
				}
			}
		}
		.table_container {
			.mat-table {
				margin-bottom: 20px;
				.mat-header-row {
					background-color: #e0e0e0;
					.mat-header-cell {
						font-weight: 700;
						font-size: 16px;
						// text-align: center;
					}
				}
				.mat-row {
					.disabled {
						color: rgba(255, 51, 0, 1);
					}
					.enabled {
						color: rgba(102, 204, 0, 1);
					}
				}
			}
		}
	}
	.footer {
		margin-top: 10px;
	}
}
:host ::ng-deep .mat-dialog-container {
	padding: 0 !important;
}
