<div class="title">
    {{data.isEdit?'编辑账号':'查看账号'}}
    <span class="close_icon" (click)="DialogClose()"><mat-icon>clear</mat-icon></span>
</div>
<div class="content" *ngIf="!data.isEdit">
    <div class="item">
        <div class="label">用户名:</div>
        <input type="text" [(ngModel)]="data.userDetail.first_name" disabled>
    </div>
    <div class="item">
        <div class="label">账号:</div>
        <input type="text" [(ngModel)]="data.userDetail.username" disabled>
    </div>
    <div class="item">
        <div class="label">角色:</div>
        <input type="text" [(ngModel)]="data.userDetail.role_name" disabled>
    </div>
    <div class="item">
        <div class="label">创建人:</div>
        <input type="text" [(ngModel)]="data.userDetail.created_name" disabled>
    </div>
    <div class="item">
        <div class="label">创建时间:</div>
        <input type="text" [(ngModel)]="data.userDetail.created_time" disabled>
    </div>
    <div class="item">
        <div class="label">状态:</div>
        <select disabled name="" id="" [(ngModel)]="data.userDetail.user_status" required aria-placeholder="请选择">
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
</div>

<div class="content" *ngIf="data.isEdit">
    <div class="item">
        <div class="label">用户名:</div>
        <input type="text" [(ngModel)]="data.userDetail.first_name" >
    </div>
    <div class="item">
        <div class="label">账号:</div>
        <input type="text" [(ngModel)]="data.userDetail.username" >
    </div>
    <div class="item">
        <div class="label">状态:</div>
        <select name="" id="" [(ngModel)]="data.userDetail.user_status" required aria-placeholder="请选择">
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
</div>
<div class="setting-warp">
  <div class="set-title">
    <span>基地</span>
    <button class="add_btn btn_color_primary" *ngIf="data.isEdit" (click)="addBase()"
      style="margin-left: 10px;">新增
    </button>
  </div>
  <div class="setting-panl">
    <table class="table">
      <tr>
        <th class="class-handle">基地</th>
        <th class="class-handle">产线</th>
        <th class="class-handle">仓库</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let item of baseList; let i = index">
        <td class="class-handle">
          <div class="join-content ">
            <div class="standard-chip-warp">
              <div class="standard-chip">
                <span>{{item.ncOrgName}}</span>
              </div>
            </div>
            <div class="addbtn" *ngIf="data.isEdit" (click)="showBasePick(item,i)">+选择</div>
          </div>
        </td>
        <td class="class-handle">
          <div class="join-content ">
            <div class="standard-chip-warp">
              <div class="standard-chip">
                <span>{{item.ncVwkname}}</span>
              </div>
            </div>
            <div class="addbtn" *ngIf="data.isEdit" (click)="showLinePick(item,i)">+选择</div>
          </div>
        </td>
        <td class="class-handle">
          <div class="join-content ">
            <div class="standard-chip-warp">
              <div class="standard-chip">
                <span>{{item.ncWarehouseName}}</span>
              </div>
            </div>
            <div class="addbtn" *ngIf="data.isEdit" (click)="showWarehousePick(item,i)">+选择</div>
          </div>
        </td>
        <td>
          <div class="group-btn">
            <!-- <button class="mini_btn edit_btn" (click)="selectBase(i)">选择</button> -->
            <button class="mini_btn del_btn" *ngIf="data.isEdit" (click)="delBase(i)">删除</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="footer">
    <button (click)="DialogClose()" *ngIf="!data.isEdit">关闭</button>
    <button (click)="DialogSaveClose()" cdkFocusInitial *ngIf="data.isEdit">保存</button>
</div>

