<div class="title">
    新建账号
    <span class="close_icon" (click)="addDialogClose()">X</span>
</div>
<div class="content">
    <div class="item">
        <div class="label">用户名:</div>
        <input type="text" [(ngModel)]="data.first_name" placeholder="请输入用户名">
    </div>
    <div class="item">
        <div class="label">账号:</div>
        <input type="text" maxlength="11" onkeyup="this.value=this.value.replace(/[\W]/g,'')"
            [(ngModel)]="data.username" placeholder="请请输入登录账号(11位字母或数字组合)" autocomplete="false">
    </div>
    <div class="item">
        <div class="label">登录密码:</div>
        <input type="text" maxlength="6" onkeyup="this.value=this.value.replace(/[\W]/g,'')" [(ngModel)]="data.password"
            placeholder="请输入登录密码(6位字母或数字)" autocomplete="false" onfocus="this.type='password'">
    </div>
    <div class="item">
        <div class="label">确认密码:</div>
        <input type="text" onkeyup="this.value=this.value.replace(/[\W]/g,'')" maxlength="6" [(ngModel)]="checkWord"
            placeholder="再次输入登录密码(6位字母或数字)" onfocus="this.type='password'">
    </div>
</div>
<!-- <div class="from_content">
    <form [formGroup]="dataForm" class="content page-container">
        <div class="row-block">
            <label class="label"><span class="red-star">*</span>用户名:</label>
            <mat-form-field class="example-full-width" appearance="fill">
                <input autocomplete="off" class="input" formControlName="first_name" type="text" matInput
                    placeholder="请输入用户名" autocomplete="false">
                <mat-error *ngIf="dataForm.hasError('required','first_name')">
                    用户为<strong>必填</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row-block">
            <label class="label"><span class="red-star">*</span>账号:</label>
            <mat-form-field class="example-full-width" appearance="fill">
                <input autocomplete="off" class="input" formControlName="username" type="text" matInput
                    placeholder="请输入账号" autocomplete="false">
                <mat-error *ngIf="dataForm.hasError('maxLength','username')">
                    账号为<strong>必填</strong>
                </mat-error>
                <mat-error *ngIf="dataForm.hasError('maxLength','username')">
                    密码最长为<strong>11</strong>
                </mat-error>
                <mat-error *ngIf="dataForm.hasError('minLength','username')">
                    密码为<strong>11</strong>个字符
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row-block">
            <label class="label"><span class="red-star">*</span>密码:</label>
            <mat-form-field class="example-full-width" appearance="fill">
                <input autocomplete="off" class="input" formControlName="password" type="password" matInput
                    placeholder="请输入密码" autocomplete="false">
                <mat-error *ngIf="dataForm.hasError('required','password')">
                    密码为<strong>必填</strong>
                </mat-error>
                <mat-error *ngIf="dataForm.hasError('maxLength','password')">
                    长度最长为<strong>11</strong>
                </mat-error>
                <mat-error *ngIf="dataForm.hasError('min Length','password')">
                    用户名最短为<strong>11</strong>个字符
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div> -->
<div class="footer">
    <button (click)="addSubmitDialogClose()" cdkFocusInitial>提交</button>
</div>