<div class="title">
  切换账套
  <span class="close_icon" (click)="addDialogClose(false)"><mat-icon>clear</mat-icon></span>
</div>
<form [formGroup]="dataForm" class="content page-container two-col">
    <div class="row-block">
      <label class="label"><span class="red-star">*</span>基地：</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-select formControlName="pkOrg" (ngModelChange)="getCwkList($event)">
          <mat-option *ngFor="let item of pkOrgList" [value]="item.pk_org">
            {{item.org_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataForm.hasError('required','pkOrg')">
          请选择<strong>基地</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-block">
      <label class="label"><span class="red-star">*</span>产线：</label>
      <mat-form-field appearance="fill" class="select">
        <mat-select formControlName="cwkid">
          <mat-option *ngFor="let item of cwkList" [value]="item.cwkid">
            {{item.vwkname}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dataForm.hasError('required','cwkid')">
          请选择<strong>产线</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </form>

<div class="footer">
  <button (click)="addDialogClose(true)" mat-raised-button color="primary" class="search-btn btn">
    <mat-icon class="material-icons svgIcon">done</mat-icon>
    <span>确定</span>
  </button>
</div>
