.content{
    .row-block{
        width: 33.33%;
    }
}
.relative {
  position: relative;
  .absolute {
    position: absolute;
    top: 0;
    right: -21%;
    cursor: pointer;
    color: #1890ff;
  }
}
.btn {
  cursor: pointer;
  &-color {
    color: #1890ff;
  }
}
.setting-warp {
  .material-icons {
    font-size: 21px;
  }
  max-height: unset !important;
  .setting-panl {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    .common-configs {
      display: flex;
      .config-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 25px;
        .label {
          // width: 65px;
        }
        .value {
          flex: 1;
        }
      }
    }
  }
}

.cate-content {
  max-height: 80vh;
  overflow-y: auto;
}
