<div class="title">
    {{modalTitle}}
    <span class="close_icon" (click)="addDialogClose()">X</span>
</div>

<form [formGroup]="dataForm" class="content page-container">

    <div class="row-block">
        <label class="label"><span class="red-star">*</span>物料编码:</label>
        <mat-form-field class="example-full-width" appearance="fill">
            <input autocomplete="off" class="input" formControlName="materialCode" type="text" matInput
                placeholder="请输入物料编码">
            <mat-error *ngIf="dataForm.hasError('required','materialCode')">
                物料编码为<strong>必填</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row-block">
        <label class="label"><span class="red-star">*</span>分组编码:</label>
        <mat-form-field class="example-full-width" appearance="fill">
            <input autocomplete="off" class="input" formControlName="groupCode" type="text" matInput
                placeholder="请输入分组编码">
            <mat-error *ngIf="dataForm.hasError('required','groupCode')">
                分组编码为<strong>必填</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row-block">
        <label class="label"><span class="red-star">*</span>物料名称:</label>
        <mat-form-field class="example-full-width" appearance="fill">
            <input autocomplete="off" class="input" formControlName="materialName" type="text" matInput
                placeholder="请输入物料名称">
            <mat-error *ngIf="dataForm.hasError('required','materialName')">
                物料名称为<strong>必填</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row-block">
        <label class="label">规格型号:</label>
        <mat-form-field class="example-full-width" appearance="fill">
            <input autocomplete="off" class="input" formControlName="materialModel" type="text" matInput
                placeholder="请输入规格型号">
        </mat-form-field>
    </div>

	<div class="row-block">
	    <label class="label">单支克重:</label>
	    <mat-form-field class="example-full-width" appearance="fill">
	        <input autocomplete="off" class="input" formControlName="kdMaterialStretchWeight" type="text" matInput
	            placeholder="请输入单支克重">
	    </mat-form-field>
	</div>

	<div class="row-block">
	    <label class="label">每件支数:</label>
	    <mat-form-field class="example-full-width" appearance="fill">
	        <input autocomplete="off" class="input" formControlName="kdMaterialEachPieceNum" type="text" matInput
	            placeholder="请输入每件支数">
	    </mat-form-field>
	</div>

  <div class="row-block">
    <label class="label">膜厚度:</label>
    <mat-form-field class="example-full-width" appearance="fill">
      <input autocomplete="off" class="input" formControlName="kdMaterialMembraneThickness" type="text" matInput
             placeholder="请输入膜厚度">
    </mat-form-field>
  </div>
  <div class="row-block">
    <label class="label">膜宽度:</label>
    <mat-form-field class="example-full-width" appearance="fill">
      <input autocomplete="off" class="input" formControlName="kdMaterialMembraneWidth" type="text" matInput
             placeholder="请输入膜宽度">
    </mat-form-field>
  </div>
  <div class="row-block">
    <label class="label">膜密度:</label>
    <mat-form-field class="example-full-width" appearance="fill">
      <input autocomplete="off" class="input" formControlName="kdMaterialMembraneDensity" type="text" matInput
             placeholder="请输入膜密度">
    </mat-form-field>
  </div>
  
    <div class="row-block">
        <div class="label"><span class="red-star">*</span>单位:</div>
        <mat-form-field appearance="fill" class="select">
            <mat-select formControlName="materialUnit">
                <mat-option *ngFor="let item of units" [value]="item.codeValue">
                    {{item.codeDsc}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="dataForm.hasError('required','materialUnit')">
                请选择<strong>单位</strong>
            </mat-error>
        </mat-form-field>
    </div>

        <!-- <div class="row-block">
        <div class="label"><span class="red-star">*</span>生产组织:</div>
        <mat-form-field appearance="fill" class="select">
            <mat-select formControlName="kdMaterialUseOrgId" (ngModelChange)="handleGetDept($event)">
                <mat-option *ngFor="let item of injectData.midOrgList" [value]="item.kdOrgId">
                    {{item.kdOrgName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="dataForm.hasError('required','kdMaterialUseOrgId')">
                请选择<strong>生产组织</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row-block">
        <div class="label"><span class="red-star">*</span>生产车间:</div>
        <mat-form-field appearance="fill" class="select">
            <mat-select formControlName="kdMaterialWorkshopId">
                <mat-option *ngFor="let item of injectData.midDeptList" [value]="item.kdDeptId">
                    {{item.kdDeptName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="dataForm.hasError('required','kdMaterialWorkshopId')">
                请选择<strong>生产车间</strong>
            </mat-error>
        </mat-form-field>
    </div> -->

    <div class="row-block">
        <div class="label"><span class="red-star">*</span>状态:</div>
        <mat-form-field appearance="fill" class="select">
            <mat-select formControlName="materialStatus">
                <mat-option *ngFor="let item of status" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="dataForm.hasError('required','materialStatus')">
                请选择<strong>状态</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row-block">
        <div class="label">备注说明:</div>
        <mat-form-field class="example-full-width" appearance="fill">
            <textarea matInput class="textarea" formControlName="br" maxlength="30"
                placeholder="请输入说明，限制30个字符"></textarea>
        </mat-form-field>
    </div>

</form>


<div class="footer">
    <button *ngIf="formType !== 'details'" (click)="submit()" mat-raised-button color="primary" class="search-btn btn">
        <mat-icon class="material-icons svgIcon">done</mat-icon>
        <span>提交</span>
    </button>

    <button *ngIf="formType === 'details'" (click)="addDialogClose()" mat-raised-button color="primary"
        class="search-btn btn">
        <mat-icon class="material-icons svgIcon">done</mat-icon>
        <span>关闭</span>
    </button>
</div>
