<div class="title">
    {{data.codeClId == ""?'新增字典类型':'编辑字典类型'}}
    <span class="close_icon" (click)="addDialogClose()"><mat-icon>clear</mat-icon></span>
</div>
<div class="content">
    <div class="item">
        <div class="label required">类型编码:</div>
        <input type="text" [(ngModel)]="data.codeValue" [disabled]="data.codeClId != '' ">
    </div>
    <div class="item">
        <div class="label required">类型名称:</div>
        <input type="text" [(ngModel)]="data.codeDsc" placeholder="请输入类型名称">
    </div>

    <div class="item">
        <div class="label required">状态:</div>
        <select [(ngModel)]="data.enabledSt" aria-placeholder="请选择">
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
</div>
<div class="footer">
    <button cdkFocusInitial (click)="commit()"> {{data.codeClId == ""?'提交':'保存'}}</button>
    <button style="margin-left: 10px;" [mat-dialog-close]>取消</button>
</div>
