<div class="title">
    更改班别
    <span class="close_icon" (click)="addDialogClose()"><mat-icon>clear</mat-icon></span>
</div>
<div class="content">
    <div class="item">
        <div class="label">班别:</div>
        <select name="" id="" [(ngModel)]="injectData.classId" required
             aria-placeholder="请选择">
            <option *ngFor="let wsItem of injectData.classList" [value]="wsItem.classId">{{wsItem.name}}</option>
        </select>
    </div>

</div>

<div class="footer">
    <button (click)="submit()" mat-raised-button color="primary" class="search-btn btn">
        <span>提交</span>
    </button>

    <button style="margin-left: 10px;" [mat-dialog-close]>取消</button>
</div>
