<div class="page-container ">
  <div class="flex-column">
    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            订单信息
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="page-card">
          <div class="row">
            <label class="label">生产订单：</label>
            <input disabled  class="input" [ngModel]="dataParams.billNo" />
          </div>
          <div class="row">
            <label class="label">生产订单编号：</label>
            <input disabled [ngModel]="dataParams.orderNo" class="input" />
          </div>
          <div class="row">
            <label class="label">订单类型：</label>
            <input disabled [ngModel]="dataParams.billType" class="input" />
          </div>
          <div class="row">
            <label class="label">生产线：</label>
            <input disabled [ngModel]="dataParams.vwkname" class="input" />
          </div>
          <div class="row">
            <label class="label">订单状态：</label>
            <input disabled [ngModel]="dataParams.orderStatus" class="input" />
          </div>
          <div class="row">
            <label class="label">下单时间：</label>
            <input disabled [ngModel]="dataParams.billDate" class="input" />
          </div>
          <div class="row">
            <label class="label">工艺路线：</label>
            <span style="display: inline-block;width: 171px;" class="link" (click)="openCraftDetail()">{{dataParams.craftName}}</span>
          </div>
          <div class="row">
            <label class="label">创建人：</label>
            <input disabled [ngModel]="dataParams.creatorName" class="input" />
          </div>
          <div class="row">
            <label class="label">备注：</label>
            <input disabled [ngModel]="dataParams.remark" type="textarea" class="input input-textarea" />
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            物料清单
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="page-card">
          <table class="table">
            <tr>
              <th>序号</th>
              <th>产品编码</th>
              <th>产品名称</th>
              <th>计划产量(件)</th>
              <th>计划开工日期</th>
              <th>计划完工日期</th>
            </tr>
            <tr *ngFor="let item of materialList; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.planQty}}</td>
              <td>{{item.planStartDate}}</td>
              <td>{{item.planFinishDate}}</td>
            </tr>
            <tr>
              <th>合计</th>
              <th></th>
              <th></th>
              <th>{{totalPrdQty}}</th>
              <th></th>
              <th></th>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            用料清单
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="page-card">
          <table class="table">
            <tr>
              <th>序号</th>
              <th>材料编码</th>
              <th>材料名称</th>
              <th>规格</th>
              <th>型号</th>
              <th>单位</th>
              <th>需求数量</th>
            </tr>
            <tr *ngFor="let item of userMaterialList; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.spec}}</td>
              <td>{{item.model}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.qty}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            工序执行情况
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="page-card">
          <table class="table">
            <tr>
              <th>序号</th>
              <th>报工工序</th>
              <th>报工类别</th>
              <th>报工物料名称</th>
              <th>报工规格</th>
              <th>单位</th>
              <th>报工数</th>
              <th>报工班组</th>
              <th>锅数/批次</th>
              <th>报工人员</th>
              <th>报工时间</th>
            </tr>
            <tr *ngFor="let item of processList; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.processName}}</td>
              <td>{{item.processType}}</td>
              <td>{{item.materialName}}</td>
              <td>{{item.materialSpec}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.className}}</td>
              <td>{{item.potCount}}</td>
              <td>{{item.personName}}</td>
              <td>{{item.reportTime}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>
