.search-btn {
	margin-right: 8px;
}

.svgIcon {
	width: 16px;
	height: 16px;
	font-size: 16px;
}

.table-info {
	padding: 12px 0;
	font-size: 12px;
	.total {
		color: #0066ff;
		font-weight: 700;
		font-size: 14px;
		margin: 0 4px;
	}
	.yield {
		color: #ff9900;
		font-weight: 700;
		font-size: 14px;
		margin: 0 4px;
	}
}
.page-content {
	.mat-table {
		.mat-row {
			.mat-cell:nth-of-type(7) {
				width: 12%;
				margin-right: 5px;
			}
		}
	}
}

.search_btn {
	color: #fff;
	background-color: #3399ff;
	// align-items: center;
	// display: flex;
	// justify-content: center;
	width: 80px;
	height: 36px;
	border: 1px solid #3399ff;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 10px;
}

.row-block {
	select {
		border: 1px solid #999;
		width: 200px;
		height: 36px;
		outline: none;
	}
	option {
		width: 200px;
		height: 36px;
	}
	input {
		outline: none;
	}
}


.disabled {
	color: rgba(255, 51, 0, 1);
}
.enabled {
	color: rgba(102, 204, 0, 1);
}