<div class="page-container flex-column">
  <div class="page-header">

    <div class="row-block cols3">
      <label class="label">下单日期：</label>
      <mat-form-field appearance="fill" class="dateRange">
        <mat-date-range-input [formGroup]="orderBillRange" [rangePicker]="picker" [min]="minDate">
          <input readonly formControlName="start" matStartDate placeholder="开始日期">
          <input readonly formControlName="end" matEndDate placeholder="结束日期">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker fontSize="12" #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="row-block cols3">
      <label class="label">生产订单号：</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.billNo" />
    </div>
    <div class="row-block cols3">
      <label class="label">产品编码</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.ncMaterialCode" />
    </div>
    <div class="row-block cols3">
      <label class="label">产品名称</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.ncMaterialName" />
    </div>
    <div class="row-block cols3">
      <label class="label">开工日期：</label>
      <mat-form-field appearance="fill" class="dateRange">
        <mat-date-range-input [formGroup]="orderPlanRange" [rangePicker]="picker2" [min]="minDate">
          <input readonly formControlName="start" matStartDate placeholder="开始日期">
          <input readonly formControlName="end" matEndDate placeholder="结束日期">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker fontSize="12" #picker2></mat-date-range-picker>

      </mat-form-field>
    </div>


    <div class="row-block cols3">
      <label class="label">生产线：</label>
      <select required [(ngModel)]="searchFormGroup.value.cwkid">
        <option *ngFor="let item of cwkList" [value]="item.cwkid">
          {{item.vwkname}}
        </option>
      </select>
    </div>
    <div class="row-block cols3"></div>
    <div class="row-block cols3"></div>
    <div class="row-block row-right">
      <label class="label"></label>
      <div class="btn-group">
        <button class="search_btn" (click)="searchList()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>查询
        </button>
        <button class="search_btn" (click)="resetQuery()">
            <mat-icon class="material-icons svgIcon">search</mat-icon>重置
        </button>
        <button *ngIf="set.has('/order/list/up')" class="search_btn" (click)="export()">
          <mat-icon class="material-icons svgIcon">vertical_align_bottom</mat-icon>
          导出
        </button>
      </div>

    </div>


  </div>

  <div class="page-content">
    <table mat-table [dataSource]="dataSource" class="table-warp">
      <ng-container matColumnDef="no" sticky="true">
        <th mat-header-cell *matHeaderCellDef> 序号 </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>
      <ng-container matColumnDef="billNo">
        <th mat-header-cell *matHeaderCellDef> 单据编号 </th>
        <td mat-cell *matCellDef="let element"> {{element.billNo}} </td>
      </ng-container>

      <ng-container matColumnDef="bodyLot">
        <th mat-header-cell *matHeaderCellDef> 订单批号 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyLot}} </td>
      </ng-container>


      <ng-container matColumnDef="billDate">
        <th mat-header-cell *matHeaderCellDef> 下单时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.billDate | date:'yyyy-MM-dd'}} </td>
      </ng-container>


      <ng-container matColumnDef="bodyPrdDept">
        <th mat-header-cell *matHeaderCellDef> 生产车间 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPrdDept}} </td>
      </ng-container>

      <ng-container matColumnDef="midMoEntryTeamName">
        <th mat-header-cell *matHeaderCellDef> 班组 </th>
        <td mat-cell *matCellDef="let element"> {{element.midMoEntryTeamName?element.midMoEntryTeamName:'无'}} </td>
      </ng-container>



      <ng-container matColumnDef="bodyPlanPrdQty">
        <th mat-header-cell *matHeaderCellDef> 计划产量</th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPlanPrdQty}}{{handleUnit(element.bodyUnit)}} </td>
      </ng-container>
      <ng-container matColumnDef="bodyPlanFinishDate">
        <th mat-header-cell *matHeaderCellDef> 计划完工时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPlanFinishDate}} </td>
      </ng-container>
      <ng-container matColumnDef="bodyMaterialSpecification">
        <th mat-header-cell *matHeaderCellDef> 产品名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyMaterialName}} </td>
      </ng-container>
      <ng-container matColumnDef="statusStr">
        <th mat-header-cell *matHeaderCellDef> 订单状态</th>
        <td mat-cell *matCellDef="let element"> {{element.statusStr}} </td>
      </ng-container>
      <ng-container matColumnDef="processStr">
        <th mat-header-cell *matHeaderCellDef> 当前工序 </th>
        <td mat-cell *matCellDef="let element"> {{element.processStr}} </td>
      </ng-container>


      <ng-container matColumnDef="classId">
        <th mat-header-cell *matHeaderCellDef> 处理班别 </th>
        <td mat-cell *matCellDef="let element"> {{element.classId?.name || ''}} </td>
      </ng-container>

      <ng-container matColumnDef="orderMatching">
        <th mat-header-cell *matHeaderCellDef> 匹配工艺路线</th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="{'enabled':element.orderMatching == 1,'disabled':element.orderMatching == -1}">
          {{ handleMatch(element.orderMatching)}} </td>

      </ng-container>

      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <div class="opera-group">
            <!--  -->
            <button class="mini_btn edit_btn" (click)="handleEvent(element,'start')"
              *ngIf="element.orderStatus == 0 && set.has('/order/list/start')">接单开工</button>
            <button class="mini_btn look_btn" (click)="handleEvent(element,'details')">详情</button>
            <button class="mini_btn look_btn" (click)="handleEvent(element,'change')"
              *ngIf="element.tbusOrderProcessSet.length == 1 && element.tbusOrderProcessSet[0].processStatus == '0'">班别变更</button>

          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="page-footer">
    <mat-paginator [length]="total" [pageSize]="searchFormGroup.value.size" [pageSizeOptions]="pageSizeOptions"
      aria-label="选择要跳转的页面" (page)="getNotices($event)">
    </mat-paginator>
  </div>
</div>
