<div class="page-container flex-column">
  <div class="page-header">

    <div class="row-block cols3">
      <label class="label">下单日期：</label>
      <mat-form-field appearance="fill" class="dateRange">
        <mat-date-range-input [formGroup]="orderBillRange" [rangePicker]="picker" [min]="minDate">
          <input readonly formControlName="start" matStartDate placeholder="开始日期">
          <input readonly formControlName="end" matEndDate placeholder="结束日期">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker fontSize="12" #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="row-block cols3">
      <label class="label">单据编号：</label>
      <input class="input" [(ngModel)]="searchFormGroup.value.billNo" />
    </div>

    <div class="row-block cols3">
      <label class="label">当前工序：</label>
      <!-- <mat-form-field appearance="fill">
        <mat-select [(value)]="searchFormGroup.value.currentProcess">
          <mat-option *ngFor="let food of processOptions" [value]="food.value">
            {{food.label}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <select required [(ngModel)]="searchFormGroup.value.currentProcess">
        <option *ngFor="let item of processOptions" [value]="item.value">
          {{item.label}}
        </option>
      </select>
    </div>





    <div class="row-block cols3">
      <label class="label">计划完工日期：</label>
      <mat-form-field appearance="fill" class="dateRange">
        <mat-date-range-input [formGroup]="orderPlanRange" [rangePicker]="picker2" [min]="minDate">
          <input readonly formControlName="start" matStartDate placeholder="开始日期">
          <input readonly formControlName="end" matEndDate placeholder="结束日期">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker fontSize="12" #picker2></mat-date-range-picker>

      </mat-form-field>
    </div>


    <div class="row-block cols3">
      <label class="label">订单状态：</label>
      <select required [(ngModel)]="searchFormGroup.value.orderStatus">
        <option *ngFor="let item of orderSelect" [value]="item.value">
          {{item.label}}
        </option>
      </select>
    </div>

    <div class="row-block cols3">
      <label class="label">工艺匹配：</label>
      <select required [(ngModel)]="searchFormGroup.value.orderMatching">
        <option *ngFor="let item of orderMatchingStasus" [value]="item.value">
          {{item.label}}
        </option>
      </select>
    </div>

    <div class="row-block cols3">
      <label class="label">处理班别：</label>
      <!-- <mat-form-field appearance="fill">
        <mat-select [(value)]="searchFormGroup.value.classId">
          <mat-option *ngFor="let shift of shiftSelect" [value]="shift.value">
            {{shift.label}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <select required [(ngModel)]="searchFormGroup.value.classId">
        <option *ngFor="let shift of shiftSelect" [value]="shift.value">
          {{shift.label}}
        </option>
      </select>

    </div>

    <div class="row-block cols3"></div>
    <div class="row-block cols3"></div>
    <div class="row-block row-right">
      <label class="label"></label>
      <div class="btn-group">
        <!-- <button mat-raised-button color="primary" class="search-btn btn" (click)="searchList()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>
          <span>查询</span>
        </button>
        <button mat-raised-button color="primary" class="btn" (click)="export()">
          <mat-icon class="material-icons svgIcon">vertical_align_bottom</mat-icon>
          <span>导出</span>
        </button> -->
        <button class="search_btn" (click)="searchList()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>查询
        </button>
        <button *ngIf="set.has('/order/list/up')" class="search_btn" (click)="export()">
          <mat-icon class="material-icons svgIcon">vertical_align_bottom</mat-icon>
          导出
        </button>
        <button *ngIf="set.has('/order/list/moreStart')" class="search_btn pl_btn" (click)="listStart()">
          <mat-icon class="material-icons svgIcon">search</mat-icon>批量接单
        </button>
      </div>

    </div>


  </div>

  <div class="page-content">
    <table mat-table [dataSource]="dataSource" class="table-warp">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [disabled]="row.orderStatus != 0" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="no" sticky="true">
        <th mat-header-cell *matHeaderCellDef> 序号 </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>
      <ng-container matColumnDef="billNo">
        <th mat-header-cell *matHeaderCellDef> 单据编号 </th>
        <td mat-cell *matCellDef="let element"> {{element.billNo}} </td>
      </ng-container>

      <ng-container matColumnDef="bodyLot">
        <th mat-header-cell *matHeaderCellDef> 订单批号 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyLot}} </td>
      </ng-container>


      <ng-container matColumnDef="billDate">
        <th mat-header-cell *matHeaderCellDef> 下单时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.billDate | date:'yyyy-MM-dd'}} </td>
      </ng-container>


      <ng-container matColumnDef="bodyPrdDept">
        <th mat-header-cell *matHeaderCellDef> 生产车间 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPrdDept}} </td>
      </ng-container>

      <ng-container matColumnDef="midMoEntryTeamName">
        <th mat-header-cell *matHeaderCellDef> 班组 </th>
        <td mat-cell *matCellDef="let element"> {{element.midMoEntryTeamName?element.midMoEntryTeamName:'无'}} </td>
      </ng-container>



      <ng-container matColumnDef="bodyPlanPrdQty">
        <th mat-header-cell *matHeaderCellDef> 计划产量</th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPlanPrdQty}}{{handleUnit(element.bodyUnit)}} </td>
      </ng-container>
      <ng-container matColumnDef="bodyPlanFinishDate">
        <th mat-header-cell *matHeaderCellDef> 计划完工时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyPlanFinishDate}} </td>
      </ng-container>
      <ng-container matColumnDef="bodyMaterialSpecification">
        <th mat-header-cell *matHeaderCellDef> 产品名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyMaterialName}} </td>
      </ng-container>
      <ng-container matColumnDef="statusStr">
        <th mat-header-cell *matHeaderCellDef> 订单状态</th>
        <td mat-cell *matCellDef="let element"> {{element.statusStr}} </td>
      </ng-container>
      <ng-container matColumnDef="processStr">
        <th mat-header-cell *matHeaderCellDef> 当前工序 </th>
        <td mat-cell *matCellDef="let element"> {{element.processStr}} </td>
      </ng-container>


      <ng-container matColumnDef="classId">
        <th mat-header-cell *matHeaderCellDef> 处理班别 </th>
        <td mat-cell *matCellDef="let element"> {{element.classId?.name || ''}} </td>
      </ng-container>

      <ng-container matColumnDef="orderMatching">
        <th mat-header-cell *matHeaderCellDef> 匹配工艺路线</th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="{'enabled':element.orderMatching == 1,'disabled':element.orderMatching == -1}">
          {{ handleMatch(element.orderMatching)}} </td>

      </ng-container>

      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <div class="opera-group">
            <!--  -->
            <button class="mini_btn edit_btn" (click)="handleEvent(element,'start')"
              *ngIf="element.orderStatus == 0 && set.has('/order/list/start')">接单开工</button>
            <button class="mini_btn look_btn" (click)="handleEvent(element,'details')">详情</button>
            <button class="mini_btn look_btn" (click)="handleEvent(element,'change')"
              *ngIf="element.tbusOrderProcessSet.length == 1 && element.tbusOrderProcessSet[0].processStatus == '0'">班别变更</button>

          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="page-footer">
    <mat-paginator [length]="total" [pageSize]="searchFormGroup.value.size" [pageSizeOptions]="pageSizeOptions"
      aria-label="选择要跳转的页面" (page)="getNotices($event)">
    </mat-paginator>
  </div>
</div>